{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}

    <h1>关于我们About us</h1>
    <img src="{% static 'image/about.jpg' %}" alt="aboutus"/>
    <p>为中国玩家提供任天堂switch游戏的咨询和社区服务，让大家更好的交流讨论，后续会持续优化此网站。欢迎加入我们！</p>
    <p>Provide consultation and community services for Chinese players on Nintendo switch games to facilitate better communication and discussion. The website will be continuously optimized in the future. Welcome to join us!</p>
{% endblock %}